<div class="sc-top-bar">
  <p class="sc-context" data-key="<%- current_path %>">
    <%- this.notes_ct %> (<%- this.blocks_ct %>)
  </p>
  <button class="sc-refresh"><%- this.get_icon('refresh-cw') %></button>
  <button class="sc-fold-all"><%- this.get_icon('fold-vertical') %></button>
  <button class="sc-unfold-all"><%- this.get_icon('unfold-vertical') %></button>
  <button class="sc-filter"><%- this.get_icon('sliders-horizontal') %></button>
  <button class="sc-search"><%- this.get_icon('search') %></button>
  <!-- <button title="Settings"><%- this.get_icon('gear') %></button> -->
</div>
<div id="settings" class="sc-overlay"></div>
<div class="sc-list">
  <% for (let result of results) { %>
  <div class="search-result<%- !this.settings.expanded_view ? ' sc-collapsed' : '' %>" data-path="<%- result.item.path.replace(/"/g, '&quot;') %>">
    <span class="header">
      <%- this.get_icon('right-triangle') %>
      <a class="search-result-file-title" title="<%- result.item.path.replace(/"/g, '&quot;') %>" draggable="true">
        <small><%- [result.score?.toFixed(2), result.item.name].join(' | ') %></small>
      </a>
    </span>
    <ul draggable="true">
      <li class="search-result-file-title" title="<%- result.item.path.replace(/"/g, '&quot;') %>" data-collection="<%= result.item.collection_key %>"></li>
    </ul>
  </div>
  <% } %>
</div>
<div class="sc-bottom-bar">
  <span class="sc-context" data-key="<%- current_path %>" title="<%- current_path %>">
    <%- current_path.split('/').pop().split('.').shift() %><%- typeof re_ranked !== 'undefined' && re_ranked ? ' (re-ranked)' : '' %>
  </span>
  <%- this.attribution %>
</div>